server {
    listen 80;
    server_name localhost;

    # Serve static files (if any) or default homepage
    location / {
        proxy_pass http://streamlit:8501;  # Proxy requests to Streamlit app
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_http_version 1.1;
        proxy_set_header Connection keep-alive;
        proxy_read_timeout 1000;  # Increase timeout
        proxy_send_timeout 1000;  # Increase timeout
    }

    # Error pages
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root html;
    }

    # Optional: You can serve static files or fallback pages here if needed
    # location /static/ {
    #     root /path/to/static/files;
    # }

    # Optional: Protect against unwanted access to sensitive files
    # location ~ /\.ht {
    #     deny all;
    # }
}

